<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>User Form</h1>
        <a href="/">Home</a>
    </header>
    <main>
        <form action="/users" method="post">
            <input type="hidden" name="id" >
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"  required>
            
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"  required>
            
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="mail"  required>
            
            <label for="city">City:</label>
            <input type="text" id="city" name="city"  required>
            
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="pass"  required>
            
            <button type="submit">Save</button>
        </form>
    </main>
</body>
</html>
